* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #111;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #111;
    color: white;
}

header .logo {
    font-size: 22px;
    font-weight: bold;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* HERO */
.hero {
    height: 70vh;
    background-image: url("logo.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    padding-top: 200px;
    font-size: 60px;
}

.hero p {
    margin-top: 200px;
    font-size: 28px;
}

/* SECTIONS */
.section {
    padding: 60px 40px;
    text-align: center;
}

.section h2 {
    margin-bottom: 20px;
    font-size: 32px;
}

.section p {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
}

.dark {
    background-color: #111;
    color: white;
}

/* WHAT WE DO LIST */
.section ul {
    list-style: none;
    margin-top: 20px;
}

.section ul li {
    margin: 10px 0;
    font-size: 18px;
}

/* LINKS */
.links a {
    display: inline-block;
    margin: 10px 15px;
    padding: 10px 20px;
    background: #111;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.links a:hover {
    background: #333;
}

/* SHOP */
.shop-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    margin-top: 40px;
}

.product {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
}

.product img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
}

.product h3 {
    margin: 10px 0;
}

.product button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    background: #111;
    color: white;
    cursor: pointer;
}

.product button:hover {
    background: #333;
}

/* FOOTER */
footer {
    background: #000;
    color: white;
    text-align: center;
    padding: 15px;
}
